@using BlazorApp1.Models
@using System.Reflection
@inject IJSRuntime JSRuntime

@typeparam T

<h3>Lista de Vehículos</h3>

<table class="tabla-vehiculos">
    <thead style="background-color: rgb(7 27 69); color: white;">
        <tr>
            @foreach (var columna in columnas)
            {
                if (columna.Visible)
                {
                    <th style="width: @(columna.Ancho.ToString() + "px");">@columna.Nombre</th>
                }
            }
        </tr>
    </thead>
    <tbody style="background-color: gainsboro;">
        @foreach (var item in ListaGenerica)
        {
            <tr>
                @foreach (var columna in columnas)
                {
                    if (columna.Visible)
                    {
                        if (columna.EsAccion)
                        {
                            <td style="width: @(columna.Ancho.ToString() + "px");">
                                <button @onclick="() => RealizarAccion(item, Accion.Ver)">Ver</button>
                                <button @onclick="() => RealizarAccion(item, Accion.Editar)">Editar</button>
                                <button @onclick="() => RealizarAccion(item, Accion.Eliminar)">Eliminar</button>
                            </td>
                        }
                        else
                        {
                            var prop = typeof(T).GetProperty(columna.PropiedadModelo);
                            <td style="width: @(columna.Ancho.ToString() + "px");">@prop.GetValue(item)</td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>

<BlazorApp1.Shared.Componentes.Offcanvas CerrarOffcanvas="@ControlCerrarOffcanvas" AnchoOffcanvas="800px" IdOffcanvas="@idFicha" TituloOffcanvas="@tituloFicha">
    <Resultado>
        @if (QuieroVerFormulario)
        {
            <FichaFormularioGenerica RegistroOrigenTabla="@RegistroSeleccionado"
            ModoAccion="accionSeleccionada"
            OnFormularioModificado="HandleFormularioModificado"
            OnGuardarCambios="GuardarCambios"
            OnEliminar="ConfirmarEliminar"
            OnCancelarEliminar="CancelarEliminar"
            >
            </FichaFormularioGenerica>
        }

    </Resultado>
</BlazorApp1.Shared.Componentes.Offcanvas>

@code {
    [Parameter] public List<T>? ListaGenerica { get; set; }

    private T? RegistroOriginal { get; set; }
    private T? RegistroModificado { get; set; }
    private List<PropiedadesTablaColumna>? columnas;
    private T? RegistroSeleccionado;
    private string idFicha = "offcanvasVehiculo";
    private string tituloFicha = "Detalles del Vehículo";
    private Accion accionSeleccionada;
    private bool estaEliminando = false;
    private bool QuieroVerFormulario = false;
    private bool cambioGuardado = false;
    private bool esModificado = false;

    protected override void OnInitialized()
    {
        // Obtener las columnas utilizando el método de la clase Utilidades
        columnas = Utilidades.ObtenerPropiedadesColumnas<Vehiculo>();
    }

    private void HandleFormularioModificado (bool modificado)
    {
        esModificado = modificado;
    }

    private void RealizarAccion(T item, Accion accion)
    {
        accionSeleccionada = accion;

        switch (accion)
        {
            case Accion.Ver:
                Ver(item);
                break;
            case Accion.Editar:
                Editar(item);
                break;
            case Accion.Eliminar:
                Eliminar(item);
                break;
        }
    }

    private void Ver(T item)
    {
        // Lógica para ver el item
        RegistroSeleccionado = item;
        OpenOffcanvas();
    }

    private void Editar(T item)
    {
        // Lógica para editar el item
        RegistroSeleccionado = item;
        OpenOffcanvas();
    }

    private void Eliminar(T item)
    {
        // Lógica para eliminar el item
        //Eliminar el vehículo
        estaEliminando = true; // Marcamos que estamos en el proceso de eliminar
        RegistroSeleccionado = item;
        OpenOffcanvas();
    }

    private async Task OpenOffcanvas()
    {
        // Guardamos una copia del valor original cuando se abre el offcanvas
        RegistroOriginal = (T)Activator.CreateInstance(typeof(T));
        if (RegistroSeleccionado != null)
        {
            RegistroOriginal = (T)Activator.CreateInstance(typeof(T));
            var propiedades = typeof(T).GetProperties();
            foreach (var propiedad in propiedades)
            {
                var valorOriginal = propiedad.GetValue(RegistroSeleccionado);
                propiedad.SetValue(RegistroOriginal, valorOriginal);
            }
        }

        //Llamar a la funcion JS para abrir Offcanvas
        QuieroVerFormulario = true;
        cambioGuardado = false;
        await JSRuntime.InvokeVoidAsync("abrirOffCanvas", idFicha);
    }

    private async Task ControlCerrarOffcanvas()
    {
        if (esModificado) //Si hay modificaciones
        {
            var confirmacion = await JSRuntime.InvokeAsync<bool>("confirm", "¿Tienes cambios no guardados. ¿Estás seguro de que quieres cerrar sin guardar?");

            if (!confirmacion)
            {
                return; // Si el usuario cancela el cierre, no hacemos nada
            }

            // Si el usuario acepta, restauramos el valor original
            if (RegistroOriginal != null && RegistroSeleccionado != null)
            {
                var propiedades = typeof(T).GetProperties();
                foreach (var propiedad in propiedades)
                {
                    var valorOriginal = propiedad.GetValue(RegistroOriginal);
                    propiedad.SetValue(RegistroSeleccionado, valorOriginal);
                }
            }
        }
        estaEliminando = false;
        QuieroVerFormulario = false;
        await JSRuntime.InvokeVoidAsync("CerrarOffcanvas", idFicha);
    }

    private void GuardarCambios()
    {
        if (esModificado)
        {
            if (RegistroSeleccionado != null)
            {
                // Guardar cambios en la lista
                var index = ListaGenerica?.FindIndex(v => v.Equals(RegistroSeleccionado));
                if (index.HasValue && index.Value >= 0)
                {
                    ListaGenerica[index.Value] = (T)(object)RegistroSeleccionado;
                }

                cambioGuardado = true;
                esModificado = false;
            }
            ControlCerrarOffcanvas();    
        }
    }

    private void ConfirmarEliminar()
    {
        if (RegistroSeleccionado != null)
        {
            ListaGenerica?.Remove((T)(object)RegistroSeleccionado);
        }
        ControlCerrarOffcanvas();
    }

    private void CancelarEliminar()
    {
        estaEliminando = false;
        Console.WriteLine("Eliminación cancelada.");
        ControlCerrarOffcanvas();
    }
}
